{% extends "base.html" %}
{% block content %}
<div>
  <img src="{{ url_for('static',filename='goalsCoral.jpg') }}" alt="Orange Coral" class="goalsBackground">
</div>
<br>
<h1>Goals</h1>

<section class="singleCol">
  <!--Goal Add Form-->
  <div class="editGoalForm forms" id="EditGoalForm">
    <h3>Edit Goal</h3>
    <div">
      <form method="POST" name="goal">
        {{ editGoalForm.hidden_tag() }}
        <!--Name-->
        <p>Enter the new name of the goal</p>
        {{ editGoalForm.editGoal }} <br> <br>
        <!--Amount-->
        <p>Enter the new goal amount</p>
        {{ editGoalForm.editGoalAmount }} <br> <br>
        {% if editGoalForm.editGoalAmount.errors %}
          <script>alert("There is no goal to edit")</script>
        {% endif %}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>
</section>

<section class="singleCol">
  <!--Goal Add Form-->
  <div class="goalForm forms" id="GoalForm">
    <h3>Add Goal</h3>
    <div">
      <form method="POST" name="goal">
        {{ goalForm.hidden_tag() }}
        <!--Name-->
        <p>Enter the name of the goal</p>
        {{ goalForm.goalName }} <br> <br>
        <!--Amount-->
        <p>Enter the goal amount</p>
        {{ goalForm.goalAmount }} <br> <br>
        {% if goalForm.goalAmount.errors %}
          <script>alert("You can only enter 1 goal!")</script>
        {% endif %}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>
</section>

{% for elem in goals %}
  <p>{{ elem.name }}</p>
{% endfor %}

<section class="singleCol">
  <button class="goalBtn" id="addBtn">Add</button>
  <button class="goalBtn" id="editBtn">Edit</button>
  <form action="{{ url_for('deleteData', name=expenditure.name, type='goal') }}"  method="POST">
    <button class="goalBtn">Delete</button>
  </form>
</section>
{% endblock %}