{% extends "base.html" %}
{% block content %}
<br><br>

  <section class="singleCol" tabindex="1">
    <h2>Total</h2>
    {% if needZeroTot %}
      <p>£{{ total }}0</p>
    {% else %}
      <p>£{{ total }}</p>
    {% endif %}
  </section>

  <!--Total incomes-->
  <section class="halfCol centre" tabindex="2">
    <h2>Total Incomes</h2>
    <!--Checks if an extra zero on the end if needed-->
    {% if inTotal > 0 %}
      {% if needZero %}
        <p>£{{ inTotal }}0</p>
      {% else %}
        <p>£{{ inTotal }}</p>
      {% endif %}
    {% else %}
      <div class="noData">
        <strong>No data in income database</strong>
      </div>
    {% endif %}

  </section>

  <!--Total expenditures-->
  <section class="halfCol centre" tabindex="2">
    <h2>Total Expenditures</h2>
    <!--Checks if an extra zero on the end if needed-->
    {% if exTotal > 0 %}
      {% if needZeroEx %}
        <p>£{{ exTotal }}0</p>
      {% else %}
        <p>£{{ exTotal }}</p>
      {% endif %}
    {% else %} 
      <div class="noData">
        <strong>No data in expenditure database</strong>
      </div>
    {% endif %}
  </section>

  <!--Progress bar-->
  <section class="singleCol centre" tabindex="3">
    <h2>Progress Towards Goal</h2>
    {% if barWidth == 100 %}
      <p>Congrats!! You have completed your goal!</p>
    {% endif %}
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated progressWidth" style="width: {{barWidth}}%;">
        {{ barWidth }}%
      </div>
    </div>
  </section>
{% endblock %}
